@import url('https://fonts.googleapis.com/css?family=Baskervville:400,400i&display=swap');

body {
    margin: 0;
}



.logo{
    height: auto;
    width: 60px;
}

.instaIcon {
margin-left: auto;
}

.homemenu {
display: flex;
     overflow: hidden;
    align-items: center;
 background: rgba(255, 255, 255, 0.5);
    margin: 20px;
    padding: 10px;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1000;
}

a {
    vertical-align: middle;
}
.homemenu a {

     color: black;
    font-family: 'Baskervville', serif;
    text-decoration: none;
    padding: 0px 40px;
}

.aMiddle {
    border-left-style: solid;
    border-right-style: solid;
}


.homemenu .icon {
  display: none;
}

@media screen and (max-width: 850px) {
  .homemenu a:not(:first-child) {display: none;}
  .homemenu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 850px) {

  .homemenu.responsive {position: relative;}
  .homemenu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .homemenu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}




.dianaT {
    text-align: center;
    font-size: 60px;
    margin: 0;
    font-family: 'Baskervville', serif;
}

.dianaSub {
    text-align: center;
    font-family: 'Baskervville', serif;
    margin: 0;
}
.dianaLocal {
    text-align: center;
    font-family: 'Baskervville';
    font-style: italic;
    margin: 0;

}



.sideLogo {
    background-image: url(img/logo_full_white.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: auto;
    transform: rotate(90deg);
}




.scrollsign {
transform: rotate(270deg);
           transform-origin: top left;
    position: absolute;
    top: 50%;
    margin: 40px;
    background-color: aqua;
     font-family: 'Baskervville', serif;
}

.homeimage {
    height:35%;
    width: 100%;
    position: absolute;
    background-image: url(img/1.jpg);
    background-position: bottom;
    bottom: 0;
}


/*pages*/

section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
z-index: 1;

}

.content {
  display: table-cell;
  vertical-align: middle;
}

/*#pageHome, #pageFirstTransition, #pageAbout{
 width:100%;
 height:700px;
}



/*seconde page*/
/*


*/

/*TRANSITION*/

#transition1 {
    background-color: #D3BBAF;
    margin: 0;
}

#transition2 {
    background-color: #A9C0C4;
    margin: 0;
}

#transition3 {
    background-color: #BE9252;
    margin: 0;
}


/*transition pages*/

.decorText {
    font-family: 'Baskervville';
    font-style: italic;
    font-size: 40px;
    text-align: left;
        color: white;
    padding: 50px;
}

/* ABOUT PAGE*/

#aboutPage {
    background-color: white;
    display: block;
}

.aboutText {
    color: black;
    margin: 0;
    padding: 0 100px;
    font-family: 'Baskervville', serif;
}
.aboutSub {
      color: black;
    margin: 0;
    font-family: 'Baskervville', serif;
}
.aboutTitle {
    color: black;
    margin: 0;
    font-family: 'Baskervville', serif;
}
.about_img {

}
@supports (display:grid){

    .aboutTitle {
        grid-area: aboutT;
        align-content: center;
        font-size: 40px;
        padding: 150px 100px 0;
    }
    .aboutText {
        grid-area: aboutTxt;

    }
    .about_img {
        grid-area: aboutImg;
      object-fit: fill;
    place-self: stretch;
    }
#aboutPage {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "aboutT aboutImg"
        "aboutTxt aboutImg";
}

}

@media screen and (max-width: 850px) {


    /*ABOUT PAGE*/

    #aboutPage {
        display: block;
    }

    .aboutText {
    padding: 20px;
}
.aboutSub {
padding: 20px;
}
.aboutTitle {
    padding: 20px;
}
    .about_img {
     height: inherit;
        width: 100%;
    position: relative;
    object-fit: fill;
     }
    /*TRANSITIONS*/
    .decorText {
        font-size: 30px;
        padding: 20px;
    }
     }
/*CONTACT PAGE*/
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #BE9252;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
    margin-left: 100px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

    input[type=text], select, textarea {
        font-family: 'Baskervville', serif;
  width: 60%; /* Full width */
  padding: 8px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-bottom: 5px; /* Bottom margin */
        margin-left: 100px;
        margin-right: auto;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
display:block;

}
#titleF {
    resize: none;
}
.containerForm label{
    font-family: 'Baskervville', serif;
    width: 60%;
    margin-left: 100px;
        margin-right: auto;
    display: block;

}

  .contactMail {
    display: block;
    font-family: 'Baskervville', serif;
    }
.contactInsta {
    display: block;
    font-family: 'Baskervville', serif;
    }
.contactPhone {
    display: block;
    font-family: 'Baskervville', serif;
    }

/* Add a background color and some padding around the form */
.containerForm {
  background-color: white;
}

    .contactTitle {
         display: block;
    font-family: 'Baskervville', serif;

}
@supports (display:grid) {
    .contactTitle {
        grid-area: contactT;
        font-family: 'Baskervville', serif;
            align-content: center;
    font-size: 40px;
        margin: 0;
    padding: 120px 100px;
        font-weight: 100;

    }
    .containerForm {
        grid-area: form;
       }
    p.contactMail{
        grid-area: contD;
        text-align: center;
    }

  .contact_img {
    grid-area: contImg;
    object-fit: cover;
    place-self: stretch;
}
    .contDetails {
        grid-area: 1 / 2 / 4 / 4;
        background-color: rgba(255, 255, 255, 0.9);
        margin: 150px 100px;
        text-align: center;
        /*align-self: center;*/
    }
    containerForm{
        display: grid;
        grid-area: form;
    }

    #contactPage{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 300px 1fr 200px;
        grid-template-areas: "contactT contImg"
            "form contImg"
            "form contImg";
    }
}

@media screen and (max-width: 850px) {


    /*contact PAGE*/

    #contactPage {
        display: block;
    }

    .contactTitle {
    padding: 20px;
}

    .contact_img {

        height: inherit;
        width: 100%;
    position: relative;
    object-fit: fill;
     }
input[type=text], select, textarea {
    margin: 5px 20px;
    width: 90%;
    }

    input[type=submit] {
        margin: 5px 20px;
    }
    .containerForm label {
        margin: 5px 20px;
    }
     }
