@import url('https://fonts.googleapis.com/css?family=Baskervville:400,400i&display=swap');

body {
    margin: 0;
}



.logo{
    height: auto;
    width: 50px;
}

.instaIcon {
margin-left: auto;
}

.homemenu {
display: flex;
     overflow: hidden;
    align-items: center;
 background: rgba(255, 255, 255, 0.5);
    padding: 40px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

a {
    vertical-align: middle;
}
.homemenu a {

     color: black;
    font-family: 'Baskervville', serif;
    text-decoration: none;
    padding: 0px 40px;
}

.aMiddle {
    border-left-style: solid;
    border-right-style: solid;
}
.dianaT {
    text-align: center;
    font-size: 100px;
    margin: 0;
    font-family: 'Baskervville', serif;
}

.dianaSub {
    text-align: center;
    font-family: 'Baskervville', serif;
    margin: 0;
}
.dianaLocal {
    text-align: center;
    font-family: 'Baskervville';
    font-style: italic;
    margin: 0;

}



.sideLogo {
    background-image: url(img/logo_full_white.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: auto;
    transform: rotate(90deg);
}




.scrollsign {
transform: rotate(270deg);
           transform-origin: top left;
    position: absolute;
    top: 50%;
    margin: 40px;
    background-color: aqua;
     font-family: 'Baskervville', serif;
}

.homeimage {
    height:35%;
    width: 100%;
    position: absolute;
    background-image: url(img/1.jpg);
    background-position: bottom;
    bottom: 0;
}


/*pages*/

section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
z-index: 1;

}

.content {
  display: table-cell;
  vertical-align: middle;
}

/*#pageHome, #pageFirstTransition, #pageAbout{
 width:100%;
 height:700px;
}



/*seconde page*/
/*


*/

/*TRANSITION*/

#transition1 {
    background-color: #D3BBAF;
    margin: 0;
}

#transition2 {
    background-color: #A9C0C4;
    margin: 0;
}

#transition3 {
    background-color: #BE9252;
    margin: 0;
}


/*transition pages*/

.decorText {
    font-family: 'Baskervville';
    font-style: italic;
    font-size: 40px;
    text-align: left;
        color: white;
    padding: 50px;
}

/* ABOUT PAGE*/

#aboutPage {
    background-color: white;
    display: block;
}

.aboutText {
    color: black;
    margin: 0;
    padding: 0 100px;
    font-family: 'Baskervville', serif;
}
.aboutSub {
      color: black;
    margin: 0;
    font-family: 'Baskervville', serif;
}
.aboutTitle {
    color: black;
    margin: 0;
    padding: 50px 100px;
    font-family: 'Baskervville', serif;
}
.about_img {

}
@supports (display:grid){

    .aboutTitle {
        grid-area: aboutT;
        align-content: center;
        font-size: 50px;
        padding: 150px 100px 0;
    }
    .aboutText {
        grid-area: aboutTxt;

    }
    .about_img {
        grid-area: aboutImg;
        width: 100%;
        height: inherit;
       position: relative;
        object-fit: fill;
    }
#aboutSection {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "aboutT aboutImg"
        "aboutTxt aboutImg";
}

}

@media screen and (max-width: 600px) {


    /*ABOUT PAGE*/
    #aboutPage {
    display: block;
}
    .aboutText {
    padding: 20px;
}
.aboutSub {
padding: 20px;
}
.aboutTitle {
    padding: 20px;
}

    /*TRANSITIONS*/
    .decorText {
        font-size: 30px;
        padding: 20px;
    }
     }
/*CONTACT PAGE*/
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #BE9252;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
    margin-left: 100px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

    input[type=text], select, textarea {
  width: 60%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
        margin-left: 100px;
        margin-right: auto;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
display:block;

}

.containerForm label{
    width: 60%;
    margin-left: 100px;
        margin-right: auto;
     margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px;
    display: block;

}

/* Add a background color and some padding around the form */
.containerForm {
  background-color: #f2f2f2;
  padding: 10px;
}

@supports (display:grid) {
    .contactTitle {
        grid-area: contactT;
    }
    .containerForm {
        grid-area: form;

    }

    .contactTemplate {
        grid-area: contactD;
    }
    #contactSection{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "contactT ."
            "form contactD";
    }
}
